{% extends 'base.html'%} {% block title %} {% endblock title %} {% block
content%}
<h1 class="text-danger">Parolni o'zgartirish!</h1>
<p>
  Iltimos xavsizlik uchun eski parolingizni kiriting! So'ngra paroln
  o'zgartirish uchun yangi parol yozing!
</p>

<form method="post">
  {% csrf_token %} {{form.as_p}}
  <div class="form-group">
    <label for="old_password">Eski parol</label>
    <input
      type="password"
      class="form-control"
      id="old_password"
      name="old_password"
      placeholder="Eski parol"
    />
  </div>
  <div class="form-group">
    <label for="new_password1">Yangi parol</label>
    <input
      type="password"
      class="form-control"
      id="new_password1"
      name="new_password1"
      placeholder="Yangi parol"
    />
  </div>
  <div class="form-group">
    <label for="new_password2">Yangi parolni takrorlang</label>
    <input
      type="password"
      class="form-control"
      id="new_password2"
      name="new_password2"
      placeholder="Yangi parolni takrorlang"
    />
  </div>
  <button type="submit" class="btn btn-primary">Parolni o'zgartirish</button>
</form>
{% endblock content%}
